[submodule "SWE-bench-docker"]
	path = SWE-bench-docker
	url = https://github.com/Marti2203/SWe-bench-docker
[submodule "SWE-bench"]
	path = SWE-bench
	url = https://github.com/riverLaugh/SWE-bench.git
