[submodule "SWE-bench-docker"]
	path = SWE-bench-docker
	url = https://github.com/riverLaugh/SWE-bench-docker.git
[submodule "SWE-bench"]
	path = SWE-bench
	url = https://github.com/riverLaugh/SWE-bench.git
